.mobileHeaderContent {
    display: none;
    user-select: none;
}

.navBarHamburger {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    color: #dfdfd6;
}

.menuIcon:active {
    color: #9497f8;
}

#mobileNavMenu {
    display: inline;
    width: 260px;
    height: 400px;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0, 0.2);
    position: absolute;
    right: 20px;
    top: 63px;
}

/* Media query for mobile devices (up to 767 pixels wide) */
@media only screen and (max-width: 767px) {
  
    .mobileHeaderContent {
        display: inline;
    }

    .navOption {
        padding: 0px 2vw;
        height: 50px;
        user-select: none;
        border-bottom: solid 0.01px rgb(113, 113, 113, 0.2);
    }

    .navOption:active {
        padding-left: 20px;
    }
  }