.navBarTranslations {
    display: flex;
    align-items: center;
}

.selectedLanguage {
    color: #dfdfd6;
}

.button {
    width: 70px;
    background-color: transparent;
    filter: invert();
    border: 0px solid gray;
}

.button:hover {
    opacity: 0.5;
    transition: 0.2s;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    transition: border 0.2s, opacity 0.1s;
}

.menuLanguages {
    /* center menu items with flex */
    display: none;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(128, 128, 128, 0.2);
    background: rgb(32, 33, 39, 1);
    width: 130px;
    height: 150px;
    border-radius: 10px;
}

.floatingMenu {
    z-index: 3;
    position: absolute;
    top: 46px;
    right: 100px;
}

/* Displays menu when hower on button */
.button:hover~.menuLanguages {
    display: flex;
}

.menuLanguages:hover {
    display: flex;
}

.menuItems {
    width: 85%;
    height: 80%;
}

.menuItems p {
    margin: 6px;
    padding: 0 6px;
    font-weight: bold;
}

.language {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 26px;
    padding: 0 12px;
}

.language:hover {
    transition: 0.2s;
    background-color: rgb(113, 113, 113, 0.2);
    color: red;
}

.language a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #dfdfd6;
}

.language:hover a {
    color: #9497f8;
    ;
}