body {
    margin: 0;
    background-color: rgb(27, 27, 31, 1);
    /* background-color: #ffffff; */
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Padding */
.container {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    width: 100%;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    font-size: 20px;
    width: 240px;
    color: #dfdfd6;
    cursor: pointer;
}
.title span {
    font-weight: bold;
    color:#9497f8;
}
.webHeaderContent {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: right;
}

.navOption {
    height: 63px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    /* left and right only */
    cursor: pointer;
    color: #dfdfd6;
}

.navOption:hover {
    color: #9497f8;
    transition: 0.5s;
}

.navBarMenu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.navBarExtra {
    /* border: solid red; */
    width: 100px;
}

.hundredpx {
    display: flex;
    align-items: center;
    width: 100px;
}

/* .link {
    display: flex;
    align-items: center;
    padding: 0, 12px
} */

/* Media query for mobile devices (up to 767 pixels wide) */
@media only screen and (max-width: 767px) {
    .webHeaderContent {
        display: none;
    }
    /* Sends hamburger icon at the end */
    .container {
        justify-content: space-between;
    }
}