:root {
  --theme-color: #1b1b1f;
  --text-color: #dfdfd6;
  --filter-svg: invert(0);
}

:root .dark {
  --theme-color: #1b1b1f;
  --text-color: #dfdfd6;
  --filter-svg: invert(0);
  /* Gradiant on dark */
  background: rgb(27, 27, 31);
  background: linear-gradient(90deg, rgba(27, 27, 31, 1) 0%, #1e1723 46%, rgba(27, 27, 31, 1) 79%);
}

:root .light {
  --theme-color: #ffffff;
  ;
  --text-color: #1b1b1f;
  --filter-svg: invert(1);
}

body {
  /* margin: 0; */
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--theme-color);
  color: var(--text-color);
}

.beautyTitleColor {
  background: -webkit-linear-gradient(#ccfbf1, #ffe4e6);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* scroll bar */
/* For WebKit-based browsers */
body {
  scrollbar-color: var(--theme-color) #555555;
  /* Dark scrollbar color */
}

/* For older versions of WebKit-based browsers (like Safari) */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  /* Dark thumb color */
}

body::-webkit-scrollbar-track {
  background-color: var(--theme-color);
  /* Dark track color */
}


