:root {
  --theme-color: #1b1b1f;
  --text-color: rgb(203, 203, 196);
  --filter-svg: invert(0);
}

:root .dark {
  --theme-color: #1b1b1f;
  --text-color: #e3dbf6;
  --hover-color: #262b30;
  --icon-hover: #91caf572;
  --filter-svg: invert(0);
  background: rgb(27, 27, 31);
  background: linear-gradient(to right, #231f28, #111);
}

:root .light {
  --theme-color: #dde7e6;
  --text-color: #453833;
  --hover-color: #f3e0fc;
  --icon-hover: rgba(152, 129, 173, 0.727);
  --filter-svg: invert(1);
  background: rgb(255,255,255);
  background: linear-gradient(to right, #ffffff, #f3e0fc);
  & .beautyTitleColor {
    color: transparent;
    background: linear-gradient(to right, #a837ff, #27e2ffeb);
    text-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Jost Variable', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
}

.beautyTitleColor {
  color: transparent;
  background: linear-gradient(to right, #c081f0, #6ec2e0eb);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  background-clip: text;
  /* Font */
  font-family: "Oleo", system-ui !important;
  font-weight: 900 !important;
  font-style: normal;
  margin: 10px -10;
}

.roleTitle {
  max-width: 500px;
  font-size: 2.2em;
  text-wrap: balance;
  padding: 0 5px;
  font-family: "Elsie Swash Caps", serif;
  font-weight: 900;
  font-style: normal;
  /* outline: dotted 3px greenyellow; */
}


/* Estilos para la barra de desplazamiento en Google Chrome */
/* WebKit */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del thumb (la parte que se arrastra) */
}

/* Estilos para la barra de desplazamiento en Mozilla Firefox */
/* Firefox */
html {
  scrollbar-color: #333 var(--theme-color); /* thumb color y track color */
}


.titles {
  padding-top: 20px;
  font-family: "Elsie Swash Caps", serif;
  background-image: linear-gradient(to right, #57a1eb, #c263e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.3em;
}