.container {
    display: flex;
    width: 100%;
    /* max-width: 1500px; */
    box-sizing: border-box;
    /* Add a padding in the web header */
    padding-right: 25px;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: --theme-color;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 15px;
    height: 63px;
    font-size: 18px;
    font-weight: bold;
    width: 450px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.title span {
    color:#9497f8;
}

.webHeaderContent {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: right;
}

.navOption {
    font-size: 15px;
    font-weight: 600;
    height: 63px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    /* left and right only */
    cursor: pointer;
    color: var(--text-color);
    user-select: none;
    text-decoration: none;
}

.navOption:hover {
    color: #9497f8;
    transition: 0.5s;
}

.navOption:active {
    transition: 0.5s;
    box-shadow: 0px 0px 2px 1px ;
}

.navBarMenu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.navBarExtra {
    /* border: solid red; */
    width: 100px;
}


/* .link {
    display: flex;
    align-items: center;
    padding: 0, 12px
} */

/* Media query for mobile devices (up to 767 pixels wide) */
@media only screen and (max-width: 767px) {
    .webHeaderContent {
        display: none;
    }
    /* Sends hamburger icon at the end */
    .container {
        justify-content: space-between;
        /* Remove padding in mobile header */
        padding-right: 0;
    }
    .title {
        padding-left: 20px;
        gap: 10px;
    }
}